extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Deven Diliberto
        p Full Stack JavaScript Developer

        .about-bio
          p I am a Support Engineer and am working through the Full Stack JavaScript Techdegree to become a software engineer. Outside of working and JavaScript learning, I enjoy surfing, biking, baking, and eating.


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Accessibility
          
        h6 Contact Info
        ul
          li 555-555-1234
          li email@email.com
        a.btn-link(href='https://github.com/dpdiliberto') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back