extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p I've built the following projects that put into practice the JavaScript I have learned - this includes building interative forms, using object oriented programming, and pulling data using Fetch and public APIs. Not only that, but this portfolio also utilizes my learnings so far in Express and Pug.

  article.portfolio-project-thumbs
    .projects-box.box.grid 
      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5= project.project_name

